{% extends "pages/base/index.html" %}

{% block page %}
    <section>
        <h1>Let's get started.</h1>
        <div>
            <div>
                <button class="vp-button primary-button">Setup Backup</button>
            </div>
            <div>
                <button class="vp-button primary-button">Restore from Backup</button>
            </div>
            <div>
                <button class="vp-button regular-button">I know what I'm doing, close this guide.</button>
            </div>
        </div>
    </section>
{% endblock %}
